<div class="page-header">
	<h1><%= @video.title %></h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<%= render 'full_video' %>
			<p><%= @video.description %></p>
		</div>

		<div class="col-lg-3">
			<% if @category %>
			<div>
				<%= link_to @category.name, category_path(@category) %>
			</div>
			<% end %>

			<div>
				<p class="price"><%= number_to_currency(@video.price) %></p>
				<%= render 'purchase_button' %>
			</div>

			<%= render 'editing_buttons' %>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-7 comments">
			<%= render 'comments' %>
			
			<%= render 'new_comment' %>
		</div>
	</div>
</div>